.container {
  margin-top: 105px;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #0d0d02;
  margin-left: 50px;
}
.img {
  display: block;
  margin: 40px auto 0 auto;
  width: 300px;
  border-radius: 30px;
  box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.1);
}
