.modalTitle {
  width: 438px;
  height: 48px;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}
.modalText {
  width: 438px;
  height: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #191a1580;
  margin-bottom: 40px;
}
.signBtn {
  width: 438px;
  height: 52px;
  border-radius: 30px;
  gap: 8px;
  padding: 16px 189px;
  background-color: #3470ff;
  color: #fbfbfb;
  border: none;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  cursor: pointer;
  margin-top: 22px;
}
.input {
  width: 438px;
  height: 52px;
  border-width: 1px;
  border-color: #191a151a;
  border-radius: 12px;
  margin-bottom: 18px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 18px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-right: 40px;
}
.eyeBtn {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding-bottom: 10px;
}
.input .placeholder {
  color: #191a15;
}
.inputError {
  margin-bottom: 18px;
  padding-left: 10px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgb(231, 21, 21);
}
.wrapper {
  position: relative;
}
