.header {
  padding: 24px 128px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 96px;
  z-index: 1000;
  box-sizing: border-box;
  background-color: white;
  border-bottom: 2px solid #1313101a;
}
.headContent {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.logo {
  font-size: 20px;
  letter-spacing: 0.02em;
  font-weight: 700;
  color: black;
  margin-right: 130px;
}
.span {
  color: #3470ff;
}
.logoutBtn {
  width: 135px;
  height: 48px;
  border-radius: 30px;
  border: 1px solid #191a1533;
  background-color: white;
  padding: 14px 39px;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: black;
  cursor: pointer;
  margin-left: 28px;
}
.userHeader {
  margin-right: 28px;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: black;
}
.burger {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
}
.navWrapper {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .burger {
    display: block;
    margin-left: auto;
  }

  .navWrapper {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    transform: translateY(-150%);
    transition: transform 0.3s ease;
  }

  .open {
    transform: translateY(0);
  }

  .headContent {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .header {
    padding: 16px 20px;
  }
}
