.psycContainer {
  margin-top: 105px;
}
.psycItem {
  margin-bottom: 32px;
}
.sorting {
  display: flex;
  gap: 32px;
  margin-bottom: 32px;
}
.btnPage {
  display: block;
  margin: 0 auto;
  padding: 14px 48px;
  background-color: #3470ff;
  color: #fbfbfb;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 176px;
  height: 48px;
  letter-spacing: -0.01em;
  margin-top: 64px;
  margin-bottom: 50px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .sorting {
    display: flex;
    gap: 32px;
    margin-bottom: 32px;
    justify-content: space-around;
    padding-left: 40px;
  }
  .psycItem {
    padding-left: 40px;
  }
}
