.errorPage {
  margin-top: 125px;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #0d0d02;
  margin-left: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.errorImg {
  display: block;
  margin: 40px auto 0 auto;
  width: 500px;
  border-radius: 30px;
  box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.1);
}
.errorTitle {
  margin-bottom: 15px;
}
.link {
  margin-top: 20px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 16px;
}
