.psychologistCard {
  display: flex;
  background-color: #fbfbfb;
  max-width: 1200px;
  height: 358px;
  border-radius: 24px;
  padding: 24px 24px;
}
.imgDiv {
  margin-right: 24px;
  display: flex;
  align-items: flex-start;
}
.img {
  width: 120px;
  height: 120px;
  top: 24px;
  left: 24px;
  padding: 12px 12px;
  border: 2px solid #54be9633;
  border-radius: 30px;
}
.psycContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  margin-bottom: 24px;
}
.info {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
  flex-wrap: wrap;
}
.title {
  width: 98px;
  height: 24px;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #8a8a89;
}
.name {
  width: 225px;
  height: 24px;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 16px;
}
.experience {
  background-color: #f3f3f3;
  border-radius: 24px;
  padding: 8px 16px;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}
.experienceLabel {
  color: #8a8a89;
}
.about {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #191a1580;
  margin-bottom: 14px;
}
.readMoreButton {
  background: none;
  border: none;
  line-height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline;
  text-decoration-style: solid;
  cursor: pointer;
}
