*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  background-color: #3470ff33;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
