*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  background-color: #f3f3f3;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
