.btnLogin {
  width: 124px;
  height: 48px;
  border-radius: 30px;
  border: 1px solid #191a1533;
  background-color: white;
  padding: 14px 39px;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: black;
  cursor: pointer;
}
.authButtons {
  display: flex;
  gap: 8px;
  margin-left: 65px;
}
.btnRegister {
  width: 171px;
  height: 48px;
  border-radius: 30px;
  padding: 14px 40px;
  background-color: #3470ff;
  color: white;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btnRegister:hover {
  background-color: #255ee8;
}
