.divHome {
  display: flex;
  align-items: center;
  gap: 125px;
  margin-top: 88px;
}
.divContent {
  width: 595px;
}
.title {
  font-weight: 600;
  font-size: 60px;
  line-height: 82px;
  letter-spacing: -0.02em;
  margin: 0;
}
.span {
  font-weight: 600;
  font-style: italic;
  font-size: 60px;
  line-height: 82px;
  letter-spacing: -0.02em;
  color: #3470ff;
}
.p {
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  margin-top: 20px;
  margin-bottom: 40px;
}
.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 235px;
  height: 60px;
  gap: 18px;
  border-radius: 30px;
  padding: 18px 50px;
  background-color: #3470ff;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.01em;
}
.link:hover {
  background-color: #255ee8;
}
.divImage img {
  width: 464px;
  height: 526px;
  border-radius: 10px;
}
.divImage {
  margin-top: 78px;
}
.qrSectionTitle {
  width: 225px;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 16px;
}
.qrSectionText {
  height: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #191a1580;
}
.qrSectionInput {
  width: 220px;
  height: 52px;
  border-width: 1px;
  border-color: #191a151a;
  border-radius: 12px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  font-family: Inter;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  padding-right: 40px;
}
.qrSectionBtn {
  width: 150px;
  height: 48px;
  border-radius: 30px;
  background-color: #3470ff;
  border: none;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}
.qrSectionImg {
  width: 100px;
  height: 100px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .divHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 98px;
  }
  .divContent {
    width: 300px;
  }
  .title {
    font-size: 50px;
    line-height: 50px;
    margin: 0;
  }
  .span {
    font-size: 50px;
    line-height: 50px;
  }
  .p {
    margin-bottom: 20px;
  }
  .link {
    width: 235px;
    height: 50px;
    margin-left: 20px;
  }
  .divImage img {
    width: 300px;
    height: 350px;
    border-radius: 10px;
  }
  .divImage {
    margin-top: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .divHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 98px;
  }
  .divContent {
    width: 600px;
  }
  .title {
    font-size: 50px;
    line-height: 50px;
    margin: 0;
  }
  .span {
    font-size: 50px;
    line-height: 50px;
  }
  .p {
    margin-bottom: 20px;
  }
  .link {
    width: 300px;
    height: 60px;
    margin-left: 70px;
  }
  .divImage img {
    width: 400px;
    height: 426px;
    border-radius: 10px;
  }
  .divImage {
    margin-top: 10px;
    margin-right: 40px;
  }
}
